@model BasicSecurity.Models.About

@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<h4>@ViewBag.Loc</h4>

<div>
    <h4>@Model.Name + " " + @Model.Location</h4>

</div>

<p>Use this area to provide additional information.</p>
