@using BasicSecurity.Models
@model IEnumerable<BasicSecurity.Models.User>

@{
    ViewBag.Title = "PXL - Basic Security";
}


<script src="http://code.jquery.com/jquery-latest.js"></script>


<div class="row">

    <h3>Registratie</h3>
    <div class="col-md-4">
        Naam:<input type="text" id="txtNaam" />
        <button id=myButton class="btn btn-default">Registreer &raquo;</button>



        <script type="text/javascript">
            $(document).ready(function ()
            {
                var url = '@Html.Raw(Url.Action("Download", "Home"))';
                $("#myButton").click(function ()
                {
                    if ($('#txtNaam').val() == '') {
                        alert('Naam verplicht!');
                        return;
                    }

                    location.href = url + '?id=' + $("#txtNaam").val()
                    $('input[name="refreshPagina"]').val('1');
                });

                var urlRefresh = '@Html.Raw(Url.Action("Index", "Home"))';
                $("#myButtonRefresh").click(function ()
                {
                    location.href = urlRefresh
                });

                $(document).on('change', "#ddlFrom", function () {
                    
                    $('input[name="senderID"]').val($(this).val());
                });

            });


        </script>


    </div>

    <div class="col-md-4">
        <button id=myButtonRefresh class="btn btn-default">Herlaad pagina &raquo;</button>
    </div>

</div>

<hr>
<div class="row">
    @using (Html.BeginForm("Encrypt", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {

        <h3>Encrypt/Decrypt</h3>
        <div class="col-md-4">
            <h4>1. Zender/Ontvanger</h4>
            <table>
                <tr>
                    <td width="10%">VAN</td>
                    <td width="10%"></td>
                    <td>
                        @Html.DropDownList("ddlFrom",
                        Model.Select
                        (item =>
                            new SelectListItem
                            {
                                Value = item.Id.ToString(),
                                Text = item.Name.ToString()
                            }
                          ))
                    </td>
                </tr>
                <tr>
                    <td width="10%">NAAR</td>
                    <td width="10%"></td>
                    <td>
                        @Html.DropDownList("ddlTo", Model.Select(item => new SelectListItem
                   {
                       Value = item.Id.ToString(),
                       Text = item.Name.ToString()
                   }))
                    </td>
                </tr>
            </table>

        </div>


        <div class="col-md-4">
            <h4>2. Bestanden selecteren</h4>

            <form action="" method="post" enctype="multipart/form-data">


                <p>
                    <input type="file" name="files" class="btn btn-default" multiple />
                    <input type="submit" value="Encrypt" class="btn btn-default" />
                </p>
            </form>

        </div>


    }


    @using (Html.BeginForm("Decrypt", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {

        <div class="col-md-4">
            <h4>2. Bestanden selecteren</h4>

            <form action="" method="post" enctype="multipart/form-data">
               

                <p>
                    <input type="file" name="files" class="btn btn-default" multiple />
                    <input type="submit" value="Decrypt" class="btn btn-default" />
                    <input type="text" value="" name="senderID" class"senderID" hidden/>
                </p>
            </form>

        </div>


    }

</div>

<hr>
<div class="row">
    <h3>Resultaat</h3>
    <div class="col-md-4">

        <p>
            <ul>
                @foreach (var item in Model)
                {
                    if (!String.IsNullOrEmpty(item.communicationResult))
                    {
                        <li>@item.communicationResult</li>
                        <li>@item.communicationMessage</li>
                    }
                }
            </ul>
        </p>

    </div>
</div>

<hr>
<div class="row">
    <h3>Publieke sleutels</h3>
    <div>
        <table>
            @{int i = 0; }
            @foreach (var item in Model)
            {

                i++;
                if (i == 1)
                {
                    <tr>
                        <td width="5%" style="border-bottom:1pt solid black;">ID</td>
                        <td width="15%" style="border-bottom:1pt solid black;">NAAM</td>
                        <td width="75%" style="border-bottom:1pt solid black;">PUBLIC KEY</td>
                    </tr>
                }
                if (i >= 2)
                {
                    <tr>
                        <td widh="5%">@item.Id</td>
                        <td width="15%">@item.Name</td>
                        <td width="75%">@item.publicKey.Substring(0, 100)...</td>
                    </tr>
                }
            }
        </table>
    </div>
</div>




